* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;/*для того чтобы прибить футер к пол*/
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;;
  color: white;
  background-color: #f5b922;
  display: flex; /*для того чтобы прибить футер к пол*/
  flex-direction: column;/*для того чтобы прибить футер к пол*/
}
main{
  flex-grow: 1; /*для того чтобы прибить футер к пол*/
}
::-webkit-scrollbar{
  width:8px;
  border-radius: .25rem;
}
::-webkit-scrollbar-track{
  background:white;
}
::-webkit-scrollbar-thumb{
  background: #f5b922;
  border-radius: .25rem;
}
::-webkit-scrollbar-thumb:hover{
  background:#333333;
  border-radius: .25rem;
}
::-webkit-scrollbar-thumb:active{
  background:#e6a709;
  border-radius: .25rem;
}


header {
  background-color: #333333;
  display: flex;
  padding: 50px;
  width: 100%;
  justify-content:center;
  align-items: center;
}
.slider{
  color: white;
  font-weight: 700;
  font-size: 30px;

}
h3{
  color: #333333;
}
h2{
  color:#f5b922;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
#col1,#col3,#col4,#wind,#weather-icon{
  font-weight: 400px;
  font-size: 25px;
}
#temp-max,#temp-min,#state,#speed,#humidity{
  font-size: 22px;
}
#weather-icon{
height: 120px;
width: 120px;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.img-block, .search-img{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-img{
  height: 250px;

}
.current-info{
  background-color:#e6a709;
  width:50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: box-shadow 0.5s;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}
.info-block{
  display: flex;
  flex-direction: row;
  margin-top: 30px;


}
.description{
  font-size: 28px;
  font-weight: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}
.row{
  display: flex;
  width: 100%;
  justify-content:space-around;
  transition: box-shadow 0.5s;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  height: 175px;
  padding-top: 30px;


}

.row div{
  width: 127px;
  text-align: center;
}
.search-bar{
	border-radius: 20px;
	margin: 30px auto;
	padding: 0;
	width: 400px;
  height: 40px;
	background-color: #FFF;

  display: flex;
  align-items: center;
  justify-content: flex-end;
	cursor: pointer;
	transition: box-shadow 0.5s;
	box-shadow: none;
}

div.search-bar:hover{
	transition: box-shadow 0.5s;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.search-box{
	font-size: 15px;
	padding: 3px;
	border: none;
	border-radius: 20px;
  width: 280px;
}

.button{
	margin:0;
	border-radius: 20px;
	border: 2;
	background-color:#333333;
	color: white;
	font-size: 15px;
	width: 100px;
  height: 40px;
	cursor: pointer;
  text-align: center;
}

 .button:hover{
	transition: opacity 0.5s;
	opacity: 0.8;
}
.last-part{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.img-search{
  width:50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search-img{
  height: 250px;
}
footer{
  width: 100%;
  height: 50px;
  background-color: #333333;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  clear: both;
  flex-grow: 0;/*для того чтобы прибить футер к пол*/
}
/* Mobile Styles */
@media only screen and (min-width: 290px) and (max-width: 730px) {
  body {
    font-size: 15px;
    min-height: 0px;
  }
  .main{
    flex-grow:0;
  }
  .slider, .description{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
  }
  .current-info{
    margin-bottom: 40px;
  }
  #col1,#col3,#col4,#wind,#weather-icon{
    font-size: 20px;
  }
  #temp-max,#temp-min,#state,#speed,#humidity{
    font-size: 18px;
  }

  .container{
    flex-direction: column;
  }
  .img-search{
    width:100%;
  }
  .weather-img, .search-img{
    height: 200px;
  }
  .row{
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
   .last-part{
    flex-direction:column-reverse;
  }
  .search-bar{
  	width: 260px;
    height: 40px;
}

  .search-box{
  	font-size: 13px;
    width: 160px;
  }

  .button{
  	margin:0;
  	border-radius: 20px;
  	border: 2;
  	background-color:#333333;
  	color: white;
  	font-size: 15px;
  	width: 80px;
    height: 40px;
  	cursor: pointer;
    text-align: center;
  }

  footer{
    font-size: 12px;
  }
  }
